<div style="margin-top:40px ;">

<div class="container" >

            <div class="col-sm-12 empty-cart-cls text-center mb-5 " style="margin-top:200px ;">
                <img src="images/icons/success.png" width="130" height="130" class="img-fluid mb-5 mr-3">
                <h3 class="mb-5"><strong>ORDER PLACED SUCCESS</strong></h3>
                <a href="/myorders" class="btn btn-success">
                view detais
                </a>

            </div>
            </div>